:root {
  --primary-color: #fed45b;
  --secondary-color: #e6e6e6;
  --text-color: #614416;
}
/* 꿀모으기 퍼센트 bar */
.honey-container {
  padding: 1rem;
  max-width: 500px;
}

.honey-title {
  font-size: 1.25rem;
  color: #4b3621;
  margin-bottom: 0.5rem;
}

.honey-progress-wrapper {
  background: white;
  border-radius: 8px;
  padding: 4px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* wrapper를 부모 요소에 맞게 너비를 조정 */
}

.honey-progress-bar {
  background-color: #ffd700;
  height: 24px;
  border-radius: 4px;
  transition: width 0.3s ease;
}

.honey-percentage {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #4b3621;
  font-weight: bold;
}

/* 질문 큐 bar */

.queue-container {
  padding: 1rem;
  max-width: 700px;
}

.queue-title {
  font-size: 1.25rem;
  color: #4b3621;
  margin-bottom: 0.5rem;
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.queue-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.queue-button {
  padding: 0.5rem 1.5rem;
  background-color: #ffd66c;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.queue-button:hover {
  background-color: #ffe08c;
  transform: translateY(-1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.hand-button {
  font-size: 2rem; /* 손 모양 크기 */
  background-color: white; /* 배경색 */
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
}

.hand-button:hover {
  transform: scale(1.5); /* 마우스를 올렸을 때 확대 효과 */
}

/* Board */
.board-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.date-header {
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.section {
  margin-bottom: 2rem;
}

.section:last-child {
  margin-bottom: 0;
}

.section-title {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  padding: 0.8rem 1rem;
  border: 1px solid #4a3500;
  color: var(--text-color);
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .study-container {
    margin: 1rem;
    padding: 1rem;
  }

  .date-header {
    font-size: 1.5rem;
  }

  .section-title {
    font-size: 1.1rem;
  }

  .item {
    font-size: 0.9rem;
  }
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.board-list-content {
  display: flex;
  width: 100%;
}
