.detail-contents-container {
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.detail-contents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.detail-add-button {
  background-color: #fed45b;
  border: none;
  color: black;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-add-button:hover {
  background-color: #ffe586;
}

.detail-contents-list {
  max-height: 30vh;
  overflow-y: auto;
}

.detail-contents-item {
  background-color: #fff9e6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.detail-contents-item:hover {
  background-color: #fff5d6;
}
