.detail-contents-container {
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.detail-contents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.detail-add-button {
  background-color: #fed45b;
  border: none;
  color: black;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-add-button:hover {
  background-color: #ffe586;
}

.detail-contents-list {
  max-height: 30vh;
  overflow-y: auto;
}

.detail-contents-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff9e6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.detail-contents-item:hover {
  background-color: #fff5d6;
}

.detail-contents-link {
  text-decoration: none;
  color: #614416;
  font-weight: bold;
}

/* 수정 버튼 스타일 */
.detail-modify-button {
  background-color: #fed45b; /* 버튼 색상 */
  border: none;
  padding: 6px 12px; /* 크기 조정: 세로 6px, 가로 12px */
  margin: 1px;
  font-size: 12px; /* 폰트 크기 줄이기 */
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.detail-modify-button:hover {
  background-color: #f7c242; /* 호버 시 색상 */
}

/* 삭제 버튼 스타일 */
.detail-delete-button {
  background-color: #ff4747; /* 삭제 버튼 색상 */
  border: none;
  padding: 6px 12px; /* 크기 조정: 세로 6px, 가로 12px */
  margin: 1px;
  font-size: 12px; /* 폰트 크기 줄이기 */
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.detail-delete-button:hover {
  background-color: #e63737; /* 호버 시 색상 */
}
